<html>
  <title> testing </title>
  <h2>welcome to <%= @hostname %> </h2>
testing testing

<% if @vhost_name then %> Virtual Host is : <%= @vhost_name %><%  end%>
The ipadress is  <%= @ipaaddress%>
The osfamily is  <%= @osfamily%>
The operating system is <%= @operatingsystem%>
</html>
